.contain {
  background-image: url("https://s3-alpha-sig.figma.com/img/03b8/22a8/10f232874b021926bb904eafb394287f?Expires=1716163200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=W2UbKhGFnYrpmolIeEKMcTzg6KklgiEM4qbb~6WHe96Z46VdnziBMQ8lATqEc-OZuJ-bBJAZnXSkbprfyrXdqgbeR3GsvMeljsQ4vngUt7nkqwzoLa6yW-L6HmtBg3g-MzWeuT90eVrCGxCgQ59FW5XP9PppUMbZPJULWFgdk04rvKFiuEsSuKLFfROhUbgrg~ehz2wfjr-3OD2iGSs1I19E-FSEprG3LpvIW-Myd6ynWqrWbK684Q1DbVGk9CUoh3joJcQyHFB94rNeVmbGAoKHb5YLv5lygrNVO-BsuvC1s3S0aaX2YWh5sFoLQLamNfJHirjBqpvcxE7AIjMjBA__");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;

}
.item_list {
  display: flex;
  justify-content: space-between;
margin-top: 1px;
  width: 340px;
  border: 1px solid wheat;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
}
.delete {
border: none;
padding: 15px
;
}
.delete:hover{
  background-color: red;
  color: white;
}
input {
  padding: 10px;
  width: 300px;
  border: none;
}
.add {
  padding: 10px;
border: none;
}
.contain_head  {
  display: flex;
}
.fa-moon {
text-align: center;
  font-size: 30px;
  padding: 5px;
  
}
.fa-sun {
  text-align: center;
  font-size: 30px;
  padding: 5px;
}
.toggle {
  margin-bottom: 5px;
}
.contain_head h1{
  color: #fff;
  Width:167px;
line-height: 40px;
font-weight: 700;
Height:48px;
  font-size: 40px;
  align-items: center;

}
.contain_body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 25%;
  left: 40%;
 
}

.check {
  background-color: rgba(221, 114, 14, 0.607);
  border: none;
padding: 15px
}
.check:hover{
  background-color: rgba(21, 31, 31, 0.616);
}
.item_list li {
  text-decoration: none;
}

.item_list.checked li {
  text-decoration: line-through;
}
.dark-mode {
    
  width: 100%;
  height: 100vh;
  background-color: black;
  color: white;
}

.light-mode {
  
  width: 100%;
  height: 100vh;
  background-color: white;
  color: black;
}